* {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}


section > ul > li {
    letter-spacing: 10px;
}

h1 {
    font-size: 3rem;
}


#sub-header{
	text-transform: uppercase;
}

h3{

}


.text-green{
	background-color: green
}

.border-blue{
	border: 2px solid blue;
}

section img{
	height: 20vh;
	width: 20vh;
	border-radius: 100px;
}

h4 + ul{
	list-style-type: none
}

.style-color{
	color: yellow;
}

section p{
	color: black;
}